encryption = allow_incoming,try_outgoing,enable_retry
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=
dht = disable
peer_exchange = yes
port_range = 49164-49264

check_hash = yes

min_peers = 40
max_peers = 52
min_peers_seed = 10
max_peers_seed = 52
max_uploads = <% @rtorrent_max_uploads %>
download_rate = <% @rtorrent_download_rate %>
upload_rate = <% @rtorrent_upload_rate %>

scgi_port = 127.0.0.1:5000

session = <% @rtorrent_session %>
directory = <% @rtorrent_download %>
schedule = watch_directory,10,10,load_start=/media/rtorrent/watch/*.torrent
